*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background: url("assets/gradient-bg.jpg");
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
}

.tic-tac-toe {
    width: 90%;
    max-width: 20rem;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    aspect-ratio: 1/1;
}

.box {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    color: white;
    cursor: pointer;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.win {
    background-color: rgba(0, 255, 0, 0.3);
}

.box-1, .box-2, .box-4, .box-5 {
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.box-3, .box-6 {
    border-bottom: 2px solid white;
}

.box-7, .box-8 {
    border-right: 2px solid white;
}

.game-info {
    color: white;
    position: absolute;
    top: 3rem;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 0.5rem 3rem;
    text-align: center;
}

.btn {
    display: none;

    color: white;
    position: absolute;
    bottom: 3rem;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 0.5rem 2rem;
    text-align: center;
    cursor: pointer;
}

.btn.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
